div#page {
	/* largeur, centrage avec des marges auto, padding nul, bordure noire, alignement gauche */
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: #000 1px solid; 
	text-align: left;
		
	/* fond avec un dégradé de couleur (blanc en haut, gris léger en bas) */
	background: -moz-linear-gradient(top, rgb(180, 180, 180), rgb(180, 180, 180));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(180, 180, 180)), to(rgb(180, 180, 180)));
	background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(180, 180, 180));
}
body{
    background: #c0c0c0;
    margin: 1% 2%;
    
}
.navbar, .dropdown-menu{
	background: #f5b570;
	border-bottom: solid 1px;
	min-height: 70px;
}

/* Bouton dans la navigation pour mobile */
.navbar-toggle{
	border: solid 2px #737373;
	margin-top: 17px;
}

.navbar-wrapper{
	height: 70px;
}

.navbar-header{
	min-height: 70px;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}

/* Couleur des titres de la navigation */
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
	color: #fff;
}
.dropdown-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li a:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li a:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li a:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li a:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li a:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li a:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li a:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li a:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #737373;
}

img#liens{
	width: 25px;
	height: 25px;
	margin-right: 5px;
}