div#page {
	/* largeur, centrage avec des marges auto, padding nul, bordure noire, alignement gauche */
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: #000 1px solid; 
	text-align: left;
		
	/* fond avec un dégradé de couleur (blanc en haut, gris léger en bas) */
	background: -moz-linear-gradient(top, rgb(180, 180, 180), rgb(180, 180, 180));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(180, 180, 180)), to(rgb(180, 180, 180)));
	background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(180, 180, 180));
}
body{
    background: #c0c0c0;
    margin: 1% 2%;
    
}
.navbar, .dropdown-menu{
	background: #f5b570;
	border-bottom: solid 1px;
	min-height: 70px;
}

/* Bouton dans la navigation pour mobile */
.navbar-toggle{
	border: solid 2px #737373;
	margin-top: 17px;
}

.navbar-wrapper{
	height: 70px;
}

.navbar-header{
	min-height: 70px;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}

/* Couleur des titres de la navigation */
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
	color: #fff;
}
.dropdown-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li a:hover{
  color: black;
}

/* Enlever le menu de droite  quand la page est entre 768px et 991px */
@media (min-width: 768px) and (max-width: 991px) {
		ul.ui-right{
			opacity: 0;
			margin-right: -9999px;
		}
}

.ui-deco{
	border: solid 1px #737373;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #737373;
}

img#liens{
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

