/* --------------------------------------------------------------------- MISE EN FORME GÃ‰NÃ‰RALE --------------------------------------------------------------------- */

*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Mise en forme gÃ©nÃ©rale de la page */
body{
    background: #c0c0c0;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    
}

/* Mise en forme de la div "#page" */
div#page{
	/* largeur, centrage avec des marges auto, padding nul, bordure noire, alignement gauche */
	width: 98%;
	margin: 5px auto;
	padding: 0 20px;
	border: #000 1px solid; 
	text-align: left;
		
	/* fond avec un dÃ©gradÃ© de couleur (blanc en haut, gris lÃ©ger en bas) */
	background: -moz-linear-gradient(top, rgb(180, 180, 180), rgb(180, 180, 180));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(180, 180, 180)), to(rgb(180, 180, 180)));
	background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(180, 180, 180));
}

div#page-contenu{
	/* hauteur, largeur, centrage avec des marges auto, padding nul, bordure noire, alignement gauche, arriÃ¨re plan orange */
	width: 35%;
	margin: 30px auto;
	padding: 0;
	border: #000 1px solid;
	
	/* coins arrondis en haut uniquement */
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-o-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-khtml-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}


div#page-contenu-head{
	background: #f5b570;
	border-bottom: #000 1px solid;
	padding: 3px auto;
	padding-top: 10px;
	
	/* coins arrondis en haut uniquement */
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-o-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-khtml-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

div#page-contenu-body{
	width: 100%;
	margin: 10px 0;
}

table{
	margin: 0 auto;
	width: 95%;
}

td:first-child{
	width: 20%;
	margin: 0 auto;
}

td:last-child {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

input[type="text"], input[type="password"]{
	/* coins arrondis */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus, input[type="password"]:focus{
	border: solid 2px #f5b570;
	outline: 0;
}

/* style de la liste <ul id="menu-horizontal"> */
ul#menu-horizontal {
	padding: 0;
	list-style-type: none; 
}

/* style des éléments <li> de la liste <ul id="menu-horizontal"> */
ul#menu-horizontal li {
	padding: 0;
	margin: 0;
	font-weight : bold;
	font-size: 25px;
	text-align: center
}

@media (min-width: 0px) and (max-width: 768px) {
	ul#menu-horizontal li {
		font-size: 15px;
	}
	div#page-contenu{
		/* hauteur, largeur, centrage avec des marges auto, padding nul, bordure noire, alignement gauche, arrière plan orange */
		width: 80%;
	}
}




/* ------------------------------------------------------------------ MISE EN FORME DU MENU HEADER ------------------------------------------------------------------ */


/* Barre de navigation (couleur, border, taille minimum) */
.navbar, .dropdown-menu{
	background: #f5b570;
	border-bottom: solid 1px;
	min-height: 70px;
}

/* Bouton dans la navigation pour mobile */
.navbar-toggle{
	border: solid 2px #737373;
	margin-top: 17px;
}

/* Commencement de la page / fin de la barre de navigation (la navbar ne passe pas sur le texte) */
.navbar-wrapper{
	height: 70px;
}

/* Affectation d'une hauteur minimale pour la barre de navigation */
.navbar-header{
	min-height: 70px;
}

/* Mise en forme des boutons de la navigation (on enleve la couleur du background) quand on passe la souris dessus */
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background: none;
}

/* Mise en forme des titres de la navigation */
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
	color: #fff;
}

/* Mise en forme du texte de la barre de navigation quand on passe la souris dessus */
.nav li a:hover{
  color: black;
}

/* Enlever le "connectÃ© en tant que" quand la page est comprise entre 768px et 991px */
@media (max-width: 991px) {
		ul.ui-right{
			margin-right: -9999px;
		}
}

/* Mise en forme du bouton de navigation quand la taille d'écran est inférieure à 768px */
.navbar-toggle .icon-bar{
    color: #fff;
    background: #737373;
}

/* Mise en forme des images affiché dans le dropdown des liens utiles */
img#liens{
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

/* Mettre une bordure prononcée dans le menu quand on clique sur un dropdown */
.dropdown-menu{
	border: 1px solid #d09a5f;
}

/* Permet de mettre la division de connection à  gauche, quand la taille d'écran est infèrieure à 768px */
@media (min-width: 0px) and (max-width: 767px) {
	.ui-login{
		border: 1px solid black;
		margin-left: 15px;
		text-align: left;
	}
	.pull-right {
 	 float: left !important;
	}
}


/* ------------------------------------------------------------------ MISE EN FORME DU MENU FOOTER ------------------------------------------------------------------ */

/* Mise en page du footer en général (taille, marge, overflow) */
.footer-bs {
	width : 100%;
	margin: 20px auto 0 auto;
	padding:0;
	background-color: #ff9933;
	color: rgba(255,255,255,1.00);
	display: table-row;
	height: 1px;
}

/* Ajout d'un padding pour chaque div du footer */
.footer-bs, .footer-nav, .footer-social { 
	padding: 1% 25px ; 
}

/* Modification des caractéristiques des titres <h4> du footer (taille, majuscules, espacement des lettres, marges) */
footer h4 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

/* Mise en forme de la division "footer-logo" */
.footer-logo{
	width: 25%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img{
	width: 100%;
	vertical-align: middle;
	text-align: center;
	margin: auto auto;
}

.social-fb:hover { color: #3B5998; }
.social-tw:hover { color: #4099FF; }
.social-in:hover { color: #0177B5; }

/* Mise en page du <ul> "page" contenu dans la div "footer-nav" */
.footer-nav ul.pages { list-style:none; padding:0px; }
.footer-nav ul.pages li { padding: 1px 0px; }
.footer-nav ul.pages a { padding: 5px 0px; color: rgba(255,255,255,1.00); font-weight: bold; }
.footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

/* Mise en page du <ul> "list" contenu dans la div "footer-nav" */
.footer-nav ul.list { list-style:none; padding:0px; }
.footer-nav ul.list li { padding:2px 0px; }
.footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

/* Mise en page de la div "footer-social" */
.footer-social ul { list-style:none; padding:0px; }
.footer-social li { padding:2px 0px;}
.footer-social ul a { padding: 5px 10px; color: rgba(255,255,255,1.00); }
.footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

@media (min-width: 768px) {
	.footer-nav, .footer-social{ 
		border-left: solid 1px rgba(255,255,255,0.10);
		margin-top: -15px;
	}
}